<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>eMediHealth</h3>
                    <p>
                        eMediHealth is a leading clinical service provider in your area. We have the most experience doctors and all the medical services that you need. We manage all the clinical data in compreensive way.
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Quick Access Links</h4>
                    <ul>
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/">Select Doctors</a></li>
                        <li><a href="~/">Medical Service</a></li>
                        <li><a href="~/">Appointment</a></li>
                        <li><a href="~/">News</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Information</h4>
                    <p>
                        565, Hamlet 02 <br>
                        Thissamaharama <br>
                        <strong>Phone:</strong> +9411 6784908<br>
                        <strong>Email:</strong> emedihealth@gmail.com<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Users Comments</h4>
                    <p>Users comments list placed here</p>
                </div>

            </div>
        </div>
    </div>

    <div class="container" style="display:none">
    </div>
</footer><!-- #footer -->
