body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.left_sidebar {
    margin-top: 20px;
    font-style: none;
    list-style: none;
    color: #FF9800;
    font-size: 18px;
}
.left_sidebar li {
    padding: 5px;
}
.sub_page_title {
    font-size: 24px;
    color: #93ce4e;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 1px;
}
table.sorting tr:not(.home) {
    cursor: pointer;
}
.form-group {
    margin-bottom: 1px;
}
.ui-state-highlight {
    border: 1px dashed #ccc;
}

div.new-cat {
    margin-top: 32px;
    position: relative;
}

span.ajax-text {
    display: none;
}

.ajaxdivtd {
    position: absolute;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px 7px;
}
span.loader{
    display:none;
}
span.ajaxmsg{
    background:green;
    color:white;
    padding:10px;
    display:none;
    position:absolute;
    bottom:0;
}
.ajaxcart{
    position:relative;
    top:5px;
}
.ib{
    display:inline-block !important;
}