
@{
    ViewBag.Title = "Admin-Dashboard";
}

<h2 class="sub_page_title">Admin Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <a href="~/Administrator/Doctors/Doctors">
            <h3 class="dashbord_h3">Doctor Register</h3>
            <img align="middle" class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/doctor_registration_img_one.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Administrator/DoctorSpecialist/all-doctor-specialist-categories">
            <h3 class="dashbord_h3"> Specialist Category</h3>
            <img class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/doctor_rspecialization_img_one.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Administrator/Users/Users">
            <h3 class="dashbord_h3">Medical Records</h3>
            <img class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/medical_records.jpg" />
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <a href="/Administrator/MediService/MedicalServiceList">
            <h3 class="dashbord_h3">Medical Services</h3>
            <img align="middle" class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/medical_services.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Administrator/News/NewsList">
            <h3 class="dashbord_h3"> News</h3>
            <img class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/health_news.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Administrator/Users/Users">
            <h3 class="dashbord_h3">Appoinment</h3>
            <img class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/doctor_appointment.jpg" />
        </a>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <a href="~/Administrator/MediService/MedicalServiceList">
            <h3 class="dashbord_h3">Health Consulting</h3>
            <img align="middle" class="img-responsive dashbord_img" src="~/Content/HealthConsultAllCSS/img/health_consulting_one.jpg" />
        </a>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
 
    </div>
</div>

