@model Health_Consulting_And_eChanneling.Models.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
</div>
