@model Health_Consulting_And_eChanneling.Models.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="sub_page_title">Index</h2>

@Html.Raw(Model.Body)
