@model Health_Consulting_And_eChanneling.Models.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = ViewBag.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="marketing">
    <h1> Introducing Agency!</h1>
    <p class="marketing-byline"> Need reasons to purchase this template? See below.</p>
    <hr class="soften">
    <div class="row">
      <div class="col-md-4"> <img src="assets/img/responsive.png" alt="Responsive">
        <h2> <span class="firstword">Responsive</span> Layout</h2>
        <p class="features"> We combine creative forces with systematic activists. All ideas require implementation
          and our multi-disciplined network fosters a wide array of abilities that empower
          visionaries and entrepreneurs to lead meaningful brands.</p>
      </div>
      <div class="col-md-4"> <img src="assets/img/think-creative.png" alt="Think Creative">
        <h2> <span class="firstword">Built With</span> Bootstrap 2</h2>
        <p> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe
          in the power of creativity. Be consistently open and honest. Be true to ourselves
          and our values. Find, stimulate and maintain the best minds.</p>
      </div>
      <div class="col-md-4"> <img src="assets/img/core-values.png" alt="Core Values">
        <h2> <span class="firstword">Valid</span> HTML5 CSS3</h2>
        <p> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe
          in the power of creativity. Be consistently open and honest. Be true to ourselves
          and our values. Find, stimulate and maintain the best minds.</p>
      </div>
    </div>
    <hr class="soften">
    <div class="row">
        <div class="col-md-4">
            <h2> <span class="firstword">Our</span> Services</h2>
            <p>
                We've been doing this for a long time and the knowledge we gather from our years
                of experience helps us to understand how the mobile channel can help our clients
                in their challenges. We help brands by creating and developing compelling and strategic
                solutions that are not depended on channels or platforms, but instead creating a
                link between human needs and brands.
            </p>
            <p>
                A few other benefits to this template include a price table element and the ability
                to modify button backgrounds using CSS3.
            </p>
        </div>
        <div class="col-md-4">
            <h2> <span class="firstword">Our</span> Services</h2>
            <p>
                We've been doing this for a long time and the knowledge we gather from our years
                of experience helps us to understand how the mobile channel can help our clients
                in their challenges. We help brands by creating and developing compelling and strategic
                solutions that are not depended on channels or platforms, but instead creating a
                link between human needs and brands.
            </p>
            <p>
                A few other benefits to this template include a price table element and the ability
                to modify button backgrounds using CSS3.
            </p>
        </div>
        <div class="col-md-4">
            <h2> <span class="firstword">Our</span> Services</h2>
            <p>
                We've been doing this for a long time and the knowledge we gather from our years
                of experience helps us to understand how the mobile channel can help our clients
                in their challenges. We help brands by creating and developing compelling and strategic
                solutions that are not depended on channels or platforms, but instead creating a
                link between human needs and brands.
            </p>
            <p>
                A few other benefits to this template include a price table element and the ability
                to modify button backgrounds using CSS3.
            </p>
        </div>

    </div>
  </div>
</div>
